<nav class="navbar navbar-expand-lg bg-slate-50">
  <div class="container-fluid py-2">
    <a href="#" class="navbar-brand">
      <img src="../../../assets/ps-logo.png" alt="playstation-logo" width="140px">
    </a>

    <button
      class="navbar-toggler"
      (click)="isCollapsed = !isCollapsed"
      type="button"
      data-bs-toggle="collapse"
      bata-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [class.collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto text-black font-semibold">
        <li class="nav-item hover:bg-slate-300 hover:rounded-full">
          <a href="#" class="nav-link">Novidades</a>
        </li>
        <li class="nav-item hover:bg-slate-300 hover:rounded-full">
          <a href="#" class="nav-link">Coleções</a>
        </li>
        <li class="nav-item hover:bg-slate-300 hover:rounded-full">
          <a href="#" class="nav-link">Ofertas</a>
        </li>
        <li class="nav-item hover:bg-slate-300 hover:rounded-full">
          <a href="#" class="nav-link">PS5</a>
        </li>
        <li class="nav-item hover:bg-slate-300 hover:rounded-full">
          <a href="#" class="nav-link">Assinaturas</a>
        </li>
        <li class="nav-item hover:bg-slate-300 hover:rounded-full">
          <a href="#" class="nav-link">Navegar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
