<div class="grid-columns-10 bg-gradient-to-r from-black
          to-blue-800 mx-auto items-center justify-center flex flex-col gap-4">

          <div class="mt-24 mb-12 flex gap-4">
            <app-card
              cardCover="../../../assets/bt-1.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-4.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-5.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-bad-company-2.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-hardline.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>
        </div>

          <div class="mb-12 flex gap-4">
            <app-card
              cardCover="../../../assets/bt-1.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-4.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-5.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-bad-company-2.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>

              <app-card
              cardCover="../../../assets/bt-hardline.jpg"
              cardLabel="EXCLUSIVE"
              cardDevice="DIGITAL | PS4"
              cardPricing="R$ 129.99"></app-card>
        </div>
</div>


