<div class="grid-columns-10 bg-gradient-to-r from-black
          to-blue-800 mx-auto items-center justify-center flex flex-col gap-4">

    <div class="mt-24 mb-12 flex gap-4">
      <app-card cardCover="../../../assets/bt-1.jpg"></app-card>
      <app-card cardCover="../../../assets/bt-4.jpg" ></app-card>
      <app-card cardCover="../../../assets/bt-5.jpg" ></app-card>
      <app-card cardCover="../../../assets/bt-bad-company-2.jpg" ></app-card>
      <app-card cardCover="../../../assets/bt-hardline.jpg" ></app-card>
    </div>
    <div class="mb-12 flex gap-4">
      <app-card cardCover="../../../assets/bt-1.jpg"></app-card>
      <app-card cardCover="../../../assets/bt-4.jpg" ></app-card>
      <app-card cardCover="../../../assets/bt-5.jpg" ></app-card>
      <app-card cardCover="../../../assets/bt-bad-company-2.jpg" ></app-card>
      <app-card cardCover="../../../assets/bt-hardline.jpg" ></app-card>
    </div>
</div>


