<nav class="fixed z-50 w-screen flex items-center justify-between p-4 bg-white shadow-xl">
  <a href="#">
    <img src="../../../assets/ps-logo.png" alt="playstation-logo" width="190px">
  </a>


  <ul class="flex gap-4 font-semibold text-black">
    <li class="hover:bg-slate-200 rounded-full p-1"><a href="#">Novidades</a></li>
    <li class="hover:bg-slate-200 rounded-full p-1"><a href="#">Coleções</a></li>
    <li class="hover:bg-slate-200 rounded-full p-1"><a href="#">Ofertas</a></li>
    <li class="hover:bg-slate-200 rounded-full p-1"><a href="#">PS5</a></li>
    <li class="hover:bg-slate-200 rounded-full p-1"><a href="#">Assinaturas</a></li>
    <li class="hover:bg-slate-200 rounded-full p-1"><a href="#">Navegar</a></li>
  </ul>
</nav>
